﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="InternetHastaneUygulamasi2B.giris" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        #form1 {
            height: 842px;
            margin-top: 0px;
        }
        .auto-style1 {
            width: 100%;
            height: 284px;
        }
        .auto-style2 {
            width: 422px;
            height: 56px;
        }
        .auto-style3 {
            width: 857px;
            height: 165px;
        }
        .auto-style4 {
            height: 57px;
            text-align: center;
        }
        .auto-style5 {
            font-weight: bold;
        }
        .auto-style6 {
            text-align: center;
        }
        </style>
</head>
<body style="background-color: #D4EBF9">
    
    <form id="form1" runat="server" style="background-color: #D4EBF9">
        <table class="auto-style1">
            <tr>
                <td class="auto-style6">
                    <img alt="logo1" class="auto-style2" src="images/banner1.jpg" />
                    <asp:Button ID="Button1" runat="server" Height="22px" Text="ANASAYFA" Width="94px" />
&nbsp;
                    <asp:Button ID="Button2" runat="server" Height="22px" Text="BÖLÜMLERİMİZ" Width="109px" />
&nbsp;
                    <asp:Button ID="Button3" runat="server" Height="22px" Text="DOKTORLARIMIZ" Width="114px" />
&nbsp;
                    <asp:Button ID="Button4" runat="server" Height="22px" Text="İLETİŞİM" />
                </td>
            </tr>
            <tr>
                <td class="auto-style6">
                    <img alt="banner" class="auto-style3" src="images/ara-banner.jpg" /></td>
            </tr>
            <tr>
                <td class="auto-style6"><strong>
                    <asp:Label ID="Label1" runat="server" ForeColor="#009933" Text="GİRİŞ "></asp:Label>
                    </strong>
                    <br />
                    <asp:Label ID="Label2" runat="server" Text="E-MAİL :"></asp:Label>
&nbsp;&nbsp;&nbsp;
                    <asp:TextBox ID="txtEmail" runat="server" Width="202px"></asp:TextBox>
                    <br />
                    <asp:Label ID="Label3" runat="server" Text="ŞİFRE   :"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:TextBox ID="txtSifre" runat="server" Width="202px" TextMode="Password"></asp:TextBox>
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Label ID="lblhata" runat="server"></asp:Label>
                    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Button ID="Button5" runat="server" Font-Bold="True" ForeColor="#009933" Text="GİRİŞ" Width="57px" OnClick="Button5_Click" />
&nbsp;
                    <asp:Button ID="Button6" runat="server" Font-Bold="True" ForeColor="#009933" Text="PAROLAMI UNUTTUM" Width="146px" OnClick="Button6_Click" />
                </td>
            </tr>
            <tr>
                <td class="auto-style4"><strong>
                    <asp:Label ID="Label4" runat="server" ForeColor="#0033CC" Text="KAYIT OL"></asp:Label>
                    </strong>
                    <br />
                    <br />
                    <asp:Label ID="Label5" runat="server" Text="TC KİMLİK NO :"></asp:Label>
&nbsp;
                    <asp:TextBox ID="TC" runat="server"></asp:TextBox>
                    <br />
                    <asp:Label ID="Label6" runat="server" Text="AD :"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:TextBox ID="Ad" runat="server"></asp:TextBox>
                    <br />
                    <asp:Label ID="Label7" runat="server" Text="SOYAD :"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:TextBox ID="Soyad" runat="server"></asp:TextBox>
                    <br />
                    <asp:Label ID="Label8" runat="server" Text="CEP-TEL :"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:TextBox ID="Cep" runat="server"></asp:TextBox>
                    <br />
                    <asp:Label ID="Label9" runat="server" Text="E-MAİL :"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:TextBox ID="Email" runat="server"></asp:TextBox>
                    <br />
                    <asp:Label ID="Label10" runat="server" Text="ŞİFRE :"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:TextBox ID="Sifre" runat="server"></asp:TextBox>
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Label ID="lblgiris" runat="server"></asp:Label>
                    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>
                    <asp:Button ID="Button7" runat="server" CssClass="auto-style5" Font-Bold="True" ForeColor="#0033CC" Text="KAYDOL" OnClick="Button7_Click" />
                    </strong></td>
            </tr>
            <tr>
                <td class="auto-style4">&nbsp;</td>
            </tr>
        </table>
    </form>
    
    </body>
</html>
