﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="parolamiunuttum.aspx.cs" Inherits="InternetHastaneUygulamasi2B.parolamiunuttum" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">

        .auto-style6 {
            text-align: center;
        }
        .auto-style2 {
            width: 422px;
            height: 56px;
        }
        .auto-style3 {
            width: 857px;
            height: 165px;
        }
        
        .auto-style1 {
            width: 100%;
            height: 284px;
        }
        .auto-style7 {
            width: 100%;
        }
        .auto-style8 {
            height: 30px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <table class="auto-style1">
            <tr>
                <td class="auto-style6">
                    <img alt="logo1" class="auto-style2" src="images/banner1.jpg" />
                    <asp:Button ID="Button1" runat="server" Height="22px" Text="ANASAYFA" Width="94px" />
&nbsp;
                    <asp:Button ID="Button2" runat="server" Height="22px" Text="BÖLÜMLERİMİZ" Width="109px" />
&nbsp;
                    <asp:Button ID="Button3" runat="server" Height="22px" Text="DOKTORLARIMIZ" Width="114px" />
&nbsp;
                    <asp:Button ID="Button4" runat="server" Height="22px" Text="İLETİŞİM" />
                </td>
            </tr>
            <tr>
                <td class="auto-style6">
                    <img alt="banner" class="auto-style3" src="images/ara-banner.jpg" /><table class="auto-style7">
                        <tr>
                            <td class="auto-style8">
                                <asp:Label ID="Label1" runat="server" Text="Email"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <asp:TextBox ID="TextBox1" runat="server" ></asp:TextBox>
                                <br />
&nbsp;&nbsp;
                                <asp:Button ID="Button5" runat="server"  Text="Gönder" Width="128px" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    
    </div>
    </form>
</body>
</html>
