﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Parola Hatırlatma.aspx.cs" Inherits="InternetHastaneUygulamasi2B.Üye_Kayıt" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            text-align: center;
        }
    </style>
</head>
<body style="background-color: #00FFFF; background-repeat: repeat-x; background-position: center center; background-attachment: fixed; height: 198px;">
    <form id="form1" runat="server" style="background-color: #009999; background-repeat: repeat;">
        <div class="auto-style1" style="background-color: #00FFFF; background-repeat: no-repeat; background-position: 800px center; background-attachment: scroll;">
            <strong>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            </strong>PAROLA HATIRLATMA<br />
            <br />
            <asp:Label ID="Label1" runat="server" Text="T.C. Kimlik Numarası"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:TextBox ID="TextBox1" runat="server" MaxLength="11" TextMode="Phone"></asp:TextBox>
            <br />
            <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:Button ID="Button1" runat="server" Font-Bold="True" Text="GÖNDER" BackColor="#3399FF" />
            <br />
            <br aria-multiselectable="False" />
            <br />
            Lütfen yukarıdan hatırlatma yöntemini seçerek gerekli <br />
            alanları doldurduktan sonra gönder düğmesine tıklayınız.<br />
            <br />
        </div>
    </form>
</body>
</html>
