﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Randevual.aspx.cs" Inherits="InternetHastaneUygulamasi2B.Randevual" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">

        .auto-style1 {
            width: 100%;
            height: 284px;
        }
        .auto-style6 {
            text-align: center;
        }
        .auto-style2 {
            width: 422px;
            height: 56px;
        }
        .auto-style3 {
            width: 857px;
            height: 165px;
        }
        .auto-style4 {
            height: 57px;
            text-align: center;
        }
        </style>
</head>
<body>
    <form id="form1" runat="server">
        <table class="auto-style1">
            <tr>
                <td class="auto-style6">
                    <img alt="logo1" class="auto-style2" src="images/banner1.jpg" />
                    <asp:Button ID="Button1" runat="server" Height="22px" Text="ANASAYFA" Width="94px" />
&nbsp;
                    <asp:Button ID="Button2" runat="server" Height="22px" Text="BÖLÜMLERİMİZ" Width="109px" />
&nbsp;
                    <asp:Button ID="Button3" runat="server" Height="22px" Text="DOKTORLARIMIZ" Width="114px" />
&nbsp;
                    <asp:Button ID="Button4" runat="server" Height="22px" Text="İLETİŞİM" />
                </td>
            </tr>
            <tr>
                <td class="auto-style6">
                    <img alt="banner" class="auto-style3" src="images/ara-banner.jpg" /></td>
            </tr>
            <tr>
                <td class="auto-style6">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style4">
                    <asp:TextBox ID="TextBox1" runat="server" TextMode="Date"></asp:TextBox>
&nbsp;<br />
                    <asp:DropDownList ID="DropDownList1" runat="server">
                    </asp:DropDownList>
                    <asp:DropDownList ID="DropDownList2" runat="server">
                    </asp:DropDownList>
                    <br />
                    <asp:Button ID="Button5" runat="server"  Text="Randevu Al" />
                </td>
            </tr>
            <tr>
                <td class="auto-style4">&nbsp;</td>
            </tr>
        </table>
    </form>
</body>
</html>
