﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UyeKayit.aspx.cs" Inherits="InternetHastaneUygulamasi2B.UyeKayit" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    </head>
<body>
    </body>
</html>
